USE [delman_io]
GO
/****** Object:  Table [dbo].[master_kabupaten]    Script Date: 23/09/2021 06:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_kabupaten](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kabupaten] [varchar](200) NOT NULL,
	[provinsi] [varchar](200) NULL,
	[pusat_pemerintahan] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[master_kabupaten] ON 

INSERT [dbo].[master_kabupaten] ([id], [kabupaten], [provinsi], [pusat_pemerintahan]) VALUES (1, N'Aceh Barat Daya', N'Aceh', N'Blangpidie')
INSERT [dbo].[master_kabupaten] ([id], [kabupaten], [provinsi], [pusat_pemerintahan]) VALUES (2, N'Aceh Barat', N'Aceh', N'Meulaboh')
INSERT [dbo].[master_kabupaten] ([id], [kabupaten], [provinsi], [pusat_pemerintahan]) VALUES (3, N'Aceh Besar', N'Aceh', N'Kota Jantho')
GO
SET IDENTITY_INSERT [dbo].[master_kabupaten] OFF
GO
